.register-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 15px 100px;
  background-color: #32bea6;
  border-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #32bea6;
}

.nav-main-btn {
  background-color: #32bea6;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 100%;
}

.nav-btn {
  background-color: #32bea6;
  color: #fff;
  padding: 1.15dvh 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 100%;
}

.nav-btn:hover {
  color: #32bea6;
  background-color: #fff;
}

.nav-btn:hover img {
  filter: invert(62%) sepia(77%) saturate(5746%) hue-rotate(152deg) brightness(98%) contrast(107%);
}

.register-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('caminho/para/sua/imagem.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
  z-index: -1;
} */

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 1520px;
  min-height: 731px;
  width: 190%;
}

.grid {
  grid-gap: 10px;
  padding: 2%;
  padding-top: 0px;
  width: 800px;
  min-height: 710px;
  max-height: 800px;
  justify-content: start;
  align-items: start;
}

.internal-grid-cards {
  display: grid;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 15px 0px;
  background-color: white;
}

.doctors-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 15px 0px;
  background-color: hsl(170, 58%, 77%);
}

.person-photo-container {
  display: flex;
  justify-content: center;
}

.person-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.pages-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.pages-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.pages-btn:hover {
  cursor: pointer;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #32bea6;
  margin: 30%;
}

.login-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
  min-height: 330px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
  margin: center;
  background-color: #32bea6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-content {
  margin-top: calc((100vh - 330px) / 2);
}

.radio-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 100px;
  background-color: #80bb95;
  margin: 30%;
} */

h1 {
  color: white;
  display: inline-block;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  font-size: 66px;
  font-family: monospace;
  text-align: center;
}

.h2-header {
  color: hsla(0, 0%, 0%, 0.7);
  display: inline-block;
  margin-top: 2px;
  padding-left: 3px;
  font-size: 14px;
  font-family: monospace;
}

.register-container {
  margin: 25px;
  display: grid;
}

.register-input {
  display: inline-block;
  padding: 5px 5px;
}

.register-label {
  display: inline-block;
  margin-left: 10px;
}

.send-btn {
  display: inline-block;
  padding: 5px 5px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.edit-btn, .delete-btn {
  cursor: pointer;
  margin: 2px;
}

.showPopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.hidePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar {
  display: flex;
  height: 94.2vh;
}

.sidebar-menu {
  min-width: 200px;
  max-width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url('utils/images/sidebar-background.png');
  background-size: cover;
  overflow-y: auto;
}

.register-photo-div {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
  border: 1px solid black;
}

.register-photo-div button {
  flex: 1;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.register-photo-icons-div {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
